*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    width: 100%;
    background-color: #1A0B2E;
    border: 1px solid #412567;
}
nav{
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    padding: 30px 0 30px 0;
}

nav ul{
    display: flex;
    gap: 32px;
}

nav li{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav button{
    color: white;
    border-radius: 100000px;
    padding: 12.5px 16px;
    background: linear-gradient(106deg,#F7E93F, #FB09B4, #9100F8);
    border: none;
    font-weight: 600;
}